@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');

body {
  background-color: black;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Orbitron';
  font-size: 120px;
  font-weight: 400;
  color: powderblue;
  height: 100vh;
  width: 100%;
}
