h2 {
  font-size: 70px;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 0px;
  color: white;
  background-color: black;
}

#randomRgb {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  padding: 40px;
}

#navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin-bottom: 40px;
}

#navBar > button {
  background-color: aliceblue;
  border: none;
  padding: 10px 20px;
}

#navBar > button:hover {
  color: white;
  background-color: rgb(20, 20, 20);
}

.message {
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

#wrapper {
  display: flex;
  justify-content: center;
}

.colors {
  display: flex;
}

.colorBox {
  padding: 90px;
  margin: 10px;
  border-radius: 20px;
}

.hidden {
  animation: fadeout 1s;
  -webkit-animation: fadeout 1s;
  opacity: 0;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
